<ion-content>
  <ion-slides pager="true">
    <ion-slide class="step-one">
      <!-- <ion-button (click)="next()">Siguiente</ion-button> -->
      <!-- <ion-img src="../../assets/img/tutorial/sc01.png"></ion-img> -->
    </ion-slide>
  
    <ion-slide class="step-two">
      <!-- <ion-button (click)="next()">Siguiente</ion-button> -->
      <!-- <ion-img src="../../assets/img/tutorial/sc02.png"></ion-img> -->
    </ion-slide>
  
    <ion-slide class="step-three">
      <!-- <ion-button (click)="next()">Siguiente</ion-button> -->
      <!-- <ion-img src="../../assets/img/tutorial/sc03.png"></ion-img> -->
    </ion-slide>
  
    <ion-slide class="step-four">
        <ion-button color="light" (click)="finTutorial()">¡Comencemos!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
