ion-slide{
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}

.step-one{
    background-image: url("../../assets/img/tutorial/sc01.png")
}

.step-two{
    background-image: url("../../assets/img/tutorial/sc02.png");
}