<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>980791693184-7h0toq0prk8g5hing68418tpko8rjp12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980791693184-7h0toq0prk8g5hing68418tpko8rjp12</string>
	<key>API_KEY</key>
	<string>AIzaSyArXejS06pWgmUynu4-nD-f6PVlHR_cy6U</string>
	<key>GCM_SENDER_ID</key>
	<string>980791693184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.ekoot.app</string>
	<key>PROJECT_ID</key>
	<string>ekootapp-1-2</string>
	<key>STORAGE_BUCKET</key>
	<string>ekootapp-1-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980791693184:ios:ad89c4e8e9bec834</string>
	<key>DATABASE_URL</key>
	<string>https://ekootapp-1-2.firebaseio.com</string>
</dict>
</plist>