.card1{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
    padding: 0;
}

.centrar1{
    text-align: center;
}

.fondo{
    margin: 0;
    padding: 0;
}

.arreglado{
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    
}